#^css same=append

* {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:inherit;
	font-weight:normal;
	vertical-align:baseline;
	background:transparent;
	color:inherit;
	text-decoration:inherit;
	text-size-adjust:none;
	-moz-text-size-adjust:none;
	-webkit-text-size-adjust:none;
	-ms-text-size-adjust:none;
}

body {
	font-size:20px;
	background:#eee;
	font-family:monospace, sans-serif;
	font-size:20px;
	color:#444;
	width:100%;
}

h1,h2,h3,h4,h5 {
    margin: 1em;
    margin-top: 0;
	font-weight:bold;
}
h1 {
	font-size:40px;
}
h2 {
	font-size:32px;
}
h3,h4,h5 {
	font-size:24px;
}

p {
	margin-top:1em;
	margin-bottom:1em;
}

a {
	font-weight:bold;
}

a:hover {
	text-decoration:underline;
}


.main {
	margin:20px auto;
	width:960px;
}


.oldnew-links {
	width:960px;
	height:50px;
	padding:10px;
	position:relative;
}

.old-link {
	display: inline-block;
	left: 10px;
	top: 10px;
	position:absolute;
	background:#444;
	color:#eee;
	border:4px 8px;
	padding:4px 8px;
	border-radius: 8px;
}

.new-link {
	display: inline-block;
	right: 10px;
	top: 10px;
	position:absolute;
	background:#444;
	color:#eee;
	border:4px 8px;
	padding:4px 8px;
	border-radius: 8px;
}

.model-container {
}

.model-view {
	display: inline-block;
	width:75%;
}

.model-download {
	display: inline-block;
	width:25%;
}

.model-download a {
	display: inline-block;
}

.bloglink {
	height: 100px;
	display: block;
	padding-bottom: 20px;
}

.bloglink-icon {
	width: 100px;
	height: 100px;
	display: inline-block;
}

.bloglink-date {
	display: inline-block;
	width: 150px;
	line-height: 100px;
	vertical-align: top;
	padding-left: 20px;
}

.bloglink-title {
	display: inline-block;
	width: 500px;
	line-height: 100px;
	vertical-align: top;
	padding-left: 20px;
	font-weight: bold;
}


.crumb-wrap {
	margin:0px auto;
	width:960px;
}

.crumb-slash {
	margin:0px 20px 0px 20px;
}

.crumb {
}
